#container{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
}
#main{
	position:absolute;
	top:0;
	bottom:50px;
	left:0;
	right:0;
	overflow:auto;
	overflow-x:hidden;
	-webkit-overflow-scrolling:touch;
	background-color:#ebebeb;
}
#main.full{
	bottom:0;
}
#bottom{
	display:table;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:50px;
}
#mask{
	position:absolute;
	top:-50%;
	left:0;
	width:100%;
	height:200%;
	background-color:#000;
	filter:alpha(opacity = 15);
	opacity:0.15;
	background-color:rgba(0,0,0,0.15);
	z-index:1;
}
.modal{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	text-align:center;
	z-index:2;
}
.modal-content{
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	background-color:#fff;
}
.z-hide{
	display:none;
}
@font-face {
	font-family:"yixinstore";
	src:url("/store/src/fonts/yixinstore.eot?pdg5kx");
	src:url("/store/src/fonts/yixinstore.eot?pdg5kx#iefix") format("embedded-opentype"),url("/store/src/fonts/yixinstore.ttf?pdg5kx") format("truetype"),url("/store/src/fonts/yixinstore.woff?pdg5kx") format("woff"),url("/store/src/fonts/yixinstore.svg?pdg5kx#yixinstore") format("svg");
	font-weight:normal;
	font-style:normal;
}
[class^="icon-"],[class*=" icon-"]{
	font-family:"yixinstore" !important;
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.icon-cart:before{
	content:"\e900";
}
.icon-delete:before{
	content:"\e901";
}
.icon-gobuy:before{
	content:"\e902";
}
.icon-location:before{
	content:"\e903";
}
.icon-minus:before{
	content:"\e904";
}
.icon-orders:before{
	content:"\e905";
}
.icon-person:before{
	content:"\e906";
}
.icon-plus:before{
	content:"\e907";
}
.icon-questions:before{
	content:"\e908";
}
.icon-rarrow:before{
	content:"\e909";
}
.icon-right:before{
	content:"\e90a";
}
.icon-submit:before{
	content:"\e90b";
}
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance:none;
}
.sub{
	font-size:12px;
}
.col{
	display:table-cell;
	vertical-align:middle;
}
.f-cb{
	zoom:1;
}
.f-cb:after{
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
	content:".";
}
.m-dialog{
	position:absolute;
	top:50%;
	left:50%;
	width:70.3%;
	min-width:225px;
	max-width:291px;
	-webkit-transform:translateX(-50%) translateY(-50%);
	z-index:1000;
	background-color:#fff;
	min-height:130px;
	box-sizing:border-box;
	padding:20px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.m-dialog .tltwrapper{
	display:table;
	height:40px;
	margin:0 auto 12px auto;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	line-height:1.3;
	color:#333;
}
.m-dialog .tltwrapper .tlt{
	display:table-cell;
	vertical-align:middle;
	line-height:1.7;
}
.m-dialog .u-btn{
	border:0;
	outline:0;
	padding:9px 0;
	font-size:16px;
}
.m-dialog .u-btn-orange{
	width:60%;
	max-width:148px;
	min-width:115px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	background-color:#ff7800;
	-moz-border-radius:5px;
	border-radius:5px;
}
.m-dialog .btnsgroup{
	text-align:center;
}
.m-dialog.doublebtn{
	font-size:0;
}
.m-dialog.doublebtn .u-btn{
	width:38%;
	min-width:80px;
	max-width:109px;
}
.m-dialog.doublebtn .u-btn+.u-btn{
	margin-left:15px;
}
.u-ipt{
	width:50px;
	height:23px;
	line-height:23px;
	border:1px solid #c0c0c0;
	text-align:center;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-appearance:none;
}
.u-btn{
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	border:none;
}
.u-btn-icon{
	width:25px;
	height:25px;
	line-height:25px;
	text-align:center;
	-moz-border-radius:4px;
	border-radius:4px;
	font-size:0;
	background-color:#c9c9c9;
}
.u-btn-icon .icon{
	display:block;
	font-size:12.5px;
	vertical-align:middle;
}
.u-btn-lg{
	height:35px;
	line-height:35px;
	padding:0 23px;
	background-color:#ff7800;
	color:#fff;
	font-size:13px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.u-btn-lg.z-disable{
	border:none;
}
.u-btn-sm{
	height:23px;
	line-height:23px;
	padding:0 10px;
	border:1px solid #909090;
	background-color:#fff;
	-moz-border-radius:2px;
	border-radius:2px;
	font-size:12px;
}
.u-btn-sm.z-disable{
	color:#fff;
	background-color:#e5e5e5;
	border:none;
}
.u-btn.grey,.u-btn-lg.z-disable{
	color:#fff;
	background-color:#909090;
}
.u-btn.tgrey,.u-btn-sm.z-disable{
	color:#fff;
	background-color:#e5e5e5;
}
.u-btn.tgrey2{
	color:#fff;
	background-color:#c9c9c9;
}
.u-btn.orange{
	color:#fff;
	background-color:#ff7800;
}
.m-toast{
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	height:0;
	text-align:center;
	z-index:9999;
}
.m-toast .wrapper{
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	max-width:80%;
	min-width:56px;
	text-align:center;
	font-size:15px;
	color:#fff;
	background-color:#000;
	background-color:rgba(0,0,0,0.7);
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.m-toast .content{
	padding:0 20px;
	height:56px;
	line-height:56px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.orders{
	color:#909090;
	font-size:12px;
}
.orders >li{
	padding:17px 18px 11px 18px;
	background-color:#fff;
}
.orders >li+li{
	border-top:4px solid #ebebeb;
}
.orders .row{
	position:relative;
	padding:7px 0;
	line-height:17px;
}
.orders .row+.row{
	position:relative;
}
.orders .row+.row:before{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	content:" ";
	border-top:1px solid #e5e5e5;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
	.orders .row+.row::before{
		-webkit-transform-origin:0 0;
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-o-transform-origin:0 0;
		transform-origin:0 0;
		-webkit-transform:scaleY(0.7);
		-moz-transform:scaleY(0.7);
		-ms-transform:scaleY(0.7);
		-o-transform:scaleY(0.7);
		transform:scaleY(0.7);
	}
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
	.orders .row+.row::before{
		-webkit-transform:scaleY(0.5);
		-moz-transform:scaleY(0.5);
		-ms-transform:scaleY(0.5);
		-o-transform:scaleY(0.5);
		transform:scaleY(0.5);
	}
}
.orders .title{
	position:relative;
}
.orders .title .u-btn{
	position:absolute;
	right:1px;
	bottom:7px;
}
.orders .info{
	width:100%;
	line-height:20px;
}
.orders .items{
	padding:0;
}
.orders .items li{
	padding:7px 0;
}
.orders .items li{
	position:relative;
}
.orders .items li:before{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	content:" ";
	border-top:1px solid #e5e5e5;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
	.orders .items li::before{
		-webkit-transform-origin:0 0;
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-o-transform-origin:0 0;
		transform-origin:0 0;
		-webkit-transform:scaleY(0.7);
		-moz-transform:scaleY(0.7);
		-ms-transform:scaleY(0.7);
		-o-transform:scaleY(0.7);
		transform:scaleY(0.7);
	}
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
	.orders .items li::before{
		-webkit-transform:scaleY(0.5);
		-moz-transform:scaleY(0.5);
		-ms-transform:scaleY(0.5);
		-o-transform:scaleY(0.5);
		transform:scaleY(0.5);
	}
}
.orders .prodImg{
	padding-right:15px;
}
.orders .prodImg img{
	width:50px;
	height:50px;
}
.orders .name{
	color:#333;
	font-weight:bold;
	font-size:13px;
}
.orders .count{
	float:right;
}
.orders .price{
	text-align:right;
}
.orders .freight{
	float:left;
}
.orders .total{
	color:#ff7800;
}
.orders .person{
	position:relative;
	padding-left:28px;
	word-wrap:break-word;
	word-break:break-all;
}
.orders .person-name{
	margin-right:45px;
}
.orders .person-phone{
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
}
.orders .btns{
	text-align:right;
}
.orders .btns .u-btn{
	width:70px;
	padding:0;
}
.orders .icon-location{
	position:absolute;
	top:24px;
	left:0;
	margin-top:-10px;
	font-size:20px;
}
.orders img{
	vertical-align:middle;
}
.yxui-toast{
	position:fixed;
	z-index:100;
	padding:0 5px;
	min-width:76px;
	height:87px;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	background-color:rgba(0,0,0,0.8);
	border-radius:5px;
}
.yxui-toast div.yxui-loading{
	position:absolute;
	top:26px;
	left:50%;
	margin-left:-5px;
	width:10px;
	height:10px;
	border-radius:50%;
	background-color:#fff;
	-webkit-backface-visibility:visible;
	backface-visibility:visible;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.yxui-toast-content{
	margin-top:53px;
	font-size:15px;
	text-align:center;
	color:#fffefe;
}
.yxui-toast-tip{
	position:fixed;
	z-index:13;
	bottom:20px;
	left:50%;
	min-width:50%;
	text-align:center;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	padding:15px 30px;
	font-size:16px;
	color:#fff;
	background-color:#444;
	border-radius:5px;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.4);
	box-shadow:0 0 5px rgba(0,0,0,0.4);
	visibility:hidden;
	opacity:0;
	-webkit-transition:opacity 0.6s ease 0s;
	transition:opacity 0.6s ease 0s;
}
.yxui-toast-tip.fadeIn{
	visibility:visible;
	opacity:1;
}
.yxui-mask{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99;
	background-color:rgba(0,0,0,0.6);
}
.yxui-mask-transparent{
	background-color:rgba(0,0,0,0);
}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{
	margin:0;
	padding:0;
}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{
	display:block;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
caption,th{
	text-align:left;
	font-weight:normal;
}
html,body,fieldset,img,iframe,abbr{
	border:0;
}
i,cite,em,var,address,dfn{
	font-style:normal;
}
[hidefocus],summary{
	outline:0;
}
li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6,small{
	font-size:100%;
}
sup,sub{
	font-size:83%;
}
pre,code,kbd,samp{
	font-family:inherit;
}
textarea{
	overflow:auto;
	resize:none;
}
label,summary{
	cursor:default;
}
a,button{
	cursor:pointer;
}
h1,h2,h3,h4,h5,h6,em,strong,b{
	font-weight:bold;
}
del,ins,u,s,a,a:hover{
	text-decoration:none;
}
body,textarea,input,button,select,keygen,legend{
	font:12px/1.14 arial,\5b8b\4f53;
	color:#666;
	outline:0;
}
body{
	background:#fff;
}
a,a:hover{
	color:#666;
}
.main{
	padding:0 5.3%;
	background-color:#fff !important;
}
.m-resultinfo{
	text-align:center;
}
.m-resultinfo .status{
	padding:15px 0;
	font-size:13px;
	font-weight:bold;
	color:#333;
}
.m-resultinfo .status .icon-right{
	position:relative;
	top:3px;
	margin-right:3px;
	font-size:18px;
}
.m-resultinfo .tip{
	padding-bottom:8px;
	color:#909090;
}
.m-resultinfo .tip p{
	line-height:1.5;
}
.m-resultinfo .firstline{
	margin-top:80px;
	font-size:16px;
	color:#333;
}
.m-resultinfo .secondline{
	margin-top:27px;
	font-size:15px;
	color:#909090;
}
.m-resultinfo .thirdline{
	margin-top:20px;
	font-size:13px;
	color:#909090;
}
.m-orderwrapper{
	overflow:hidden;
	margin-top:26px;
}
.m-orderwrapper .order{
	color:#909090;
}
.m-orderwrapper .order .info{
	padding:13px 0;
}
.m-orderwrapper .order .info:first-child{
	position:relative;
}
.m-orderwrapper .order .info:first-child:before{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	content:" ";
	border-top:1px solid #e5e5e5;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
	.m-orderwrapper .order .info:first-child::before{
		-webkit-transform-origin:0 0;
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-o-transform-origin:0 0;
		transform-origin:0 0;
		-webkit-transform:scaleY(0.7);
		-moz-transform:scaleY(0.7);
		-ms-transform:scaleY(0.7);
		-o-transform:scaleY(0.7);
		transform:scaleY(0.7);
	}
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
	.m-orderwrapper .order .info:first-child::before{
		-webkit-transform:scaleY(0.5);
		-moz-transform:scaleY(0.5);
		-ms-transform:scaleY(0.5);
		-o-transform:scaleY(0.5);
		transform:scaleY(0.5);
	}
}
.m-orderwrapper .order .info{
	position:relative;
}
.m-orderwrapper .order .info:after{
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	width:100%;
	content:" ";
	border-top:1px solid #e5e5e5;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
	.m-orderwrapper .order .info::after{
		-webkit-transform-origin:0 0;
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-o-transform-origin:0 0;
		transform-origin:0 0;
		-webkit-transform:scaleY(0.7);
		-moz-transform:scaleY(0.7);
		-ms-transform:scaleY(0.7);
		-o-transform:scaleY(0.7);
		transform:scaleY(0.7);
	}
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
	.m-orderwrapper .order .info::after{
		-webkit-transform:scaleY(0.5);
		-moz-transform:scaleY(0.5);
		-ms-transform:scaleY(0.5);
		-o-transform:scaleY(0.5);
		transform:scaleY(0.5);
	}
}
.m-orderwrapper .order .info .code{
	margin-bottom:14px;
}
.m-orderwrapper .order .totalfee{
	float:right;
	margin-top:13px;
}
#bottom{
	position:absolute !important;
}
#bottom{
	position:relative;
}
#bottom:before{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	content:" ";
	border-top:1px solid #e5e5e5;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
	#bottom::before{
		-webkit-transform-origin:0 0;
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-o-transform-origin:0 0;
		transform-origin:0 0;
		-webkit-transform:scaleY(0.7);
		-moz-transform:scaleY(0.7);
		-ms-transform:scaleY(0.7);
		-o-transform:scaleY(0.7);
		transform:scaleY(0.7);
	}
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
	#bottom::before{
		-webkit-transform:scaleY(0.5);
		-moz-transform:scaleY(0.5);
		-ms-transform:scaleY(0.5);
		-o-transform:scaleY(0.5);
		transform:scaleY(0.5);
	}
}
#bottom .bold{
	font-weight:bold;
}
.m-notice{
	margin:20% auto 10px;
	text-align:center;
	color:#909090;
	font-size:12px;
	line-height:1.8;
}
.m-notice a{
	color:#ff7800;
	text-decoration:underline;
}